/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100vh; }

.title {
  font-size: 4em;
  font-family: "Lato", sans-serif; }

.page-title {
  font-size: 3em;
  font-family: "Lato", sans-serif; }

.invalid-form {
  border-color: #FF1212 !important;
  transition: border-color 0.4s ease; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; }

#main-page {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background-image: url("img/top.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top; }
  #main-page > * {
    flex: 1; }
  #main-page #media-cover {
    width: 100%;
    margin-bottom: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
  #main-page #round-photo {
    opacity: 0;
    z-index: 50001;
    position: absolute;
    top: 25vh; }
    #main-page #round-photo img {
      border-radius: 100%;
      width: 175px;
      border: 4px solid #FFFFFF; }
  #main-page #about {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    background-color: #FFFFFF; }
  #main-page #nav-top {
    z-index: 50000;
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #FFFFFF;
    transition: all 0.4s ease; }
  #main-page #nav-placeholder {
    width: 100%;
    height: 90px; }
  #main-page .nav-top-half {
    font-family: "Lato", sans-serif;
    flex: 1;
    display: flex;
    align-items: center; }
    #main-page .nav-top-half a {
      border: 3px solid rgba(0, 204, 153, 0);
      padding: 7px;
      margin: 15px;
      flex: 1;
      max-width: 175px;
      text-align: center;
      font-size: 1.3em;
      color: #000000;
      text-decoration: none;
      transition: all 0.25s ease; }
      #main-page .nav-top-half a:hover {
        border-color: #00cc99; }
    #main-page .nav-top-half .selected {
      border-color: #00cc99; }
  #main-page #nav-top-left {
    padding-right: 12vw;
    justify-content: flex-end; }
  #main-page .title {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  #main-page .about-text {
    font-size: 1.4em;
    align-self: center;
    width: 50%;
    margin-top: 1em;
    text-align: justify; }
  #main-page .fixed-media-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed; }

#formations-page {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #formations-page .page-title {
    margin-bottom: 2em;
    margin-top: -3em; }

#formations-container {
  height: 125px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #formations-container .formation {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
    border: 6px solid #00cc99;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    background-color: #FFFFFF;
    cursor: pointer; }
    #formations-container .formation i {
      color: #00cc99;
      transition: inherit; }
    #formations-container .formation:hover {
      background-color: #00cc99; }
      #formations-container .formation:hover i {
        color: #FFFFFF; }
  #formations-container .selected {
    background-color: #00cc99; }
    #formations-container .selected i {
      color: #FFFFFF; }
  #formations-container .formation-segment-container, #formations-container .formation-trail-container {
    z-index: 10;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #formations-container .formation-trail-container {
    z-index: 10;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px; }

.formation-trail {
  z-index: 10;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-left: 15px;
  background-color: #00cc99; }

.formation-link {
  z-index: 10;
  width: 200px;
  height: 6px;
  background-color: #00cc99;
  position: relative; }

#formation-trail-end .formation-trail {
  margin-left: 0;
  margin-right: 15px; }

.formation-details-container {
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  opacity: 0;
  left: -100%; }

.details-dates {
  font-size: 0.7em;
  margin-top: 5px; }

.details-texte {
  font-size: 0.8em;
  margin-top: 1em;
  text-align: justify; }

#skills-page {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #skills-page .page-title {
    margin-bottom: 35px; }
  #skills-page .selected {
    color: #00cc99; }

.hidden {
  display: none !important; }

.skill-section-title {
  cursor: pointer;
  border-bottom: 4px dashed #00cc99;
  transition: all 0.35s ease; }
  .skill-section-title:hover {
    color: #00cc99; }

#skills-container {
  max-height: 0px;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.skill-section {
  opacity: 0;
  width: 95%;
  max-width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  font-size: 1.5em; }

.skill {
  flex: 1;
  display: flex;
  flex-direction: colum;
  align-items: center;
  justify-content: center;
  border: 4px solid #00cc99;
  min-height: 150px;
  max-height: 450px;
  margin: 15px;
  color: #00cc99;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .skill i {
    transition: all 0.4s ease;
    position: absolute; }
  .skill:hover {
    background-color: #00cc99;
    color: #FFFFFF; }
    .skill:hover .noted-skill-bar {
      border-color: #FFFFFF; }
    .skill:hover .bar-filling {
      background-color: #FFFFFF; }
    .skill:hover .noted-skill-note {
      color: #00cc99; }

.skill.skill-selected:hover {
  background-color: #FFFFFF;
  color: #00cc99; }
  .skill.skill-selected:hover .noted-skill-bar {
    border-color: #00cc99; }
  .skill.skill-selected:hover .bar-filling {
    background-color: #00cc99; }
  .skill.skill-selected:hover .noted-skill-note {
    color: #FFFFFF; }

.skill-content {
  opacity: 0;
  transition: all 0.4s ease;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%; }
  .skill-content h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px; }
  .skill-content p {
    text-align: justify; }
  .skill-content ul li {
    margin-top: 10px; }
  .skill-content ul span {
    display: inline-block;
    width: 100px; }

.noted-skills-container {
  flex: 1;
  height: 85%;
  max-height: 85%;
  min-height: 85%;
  width: 85%;
  display: flex; }

.noted-skills-column {
  flex: 1;
  display: flex;
  flex-direction: column; }

.noted-skills {
  margin-top: 15px;
  min-height: 50px; }

.noted-skill-bar {
  width: 90%;
  height: 25px;
  border: 3px solid #00cc99;
  margin-top: 5px;
  transition: all 0.4s ease; }

.bar-filling {
  height: 100%;
  background-color: #00cc99;
  transition: inherit;
  display: flex;
  align-items: center; }

.bar-filling-meh {
  width: 25%; }

.bar-filling-ok {
  width: 50%; }

.bar-filling-experienced {
  width: 75%; }

.bar-filling-proficient {
  width: 100%; }

.noted-skill-note {
  opacity: 0;
  transition: all 0.4s ease;
  font-size: 0.7em;
  color: #FFFFFF; }

#experiences-page {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #experiences-page h2 {
    margin-bottom: 45px; }

#experiences-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

.experience {
  flex: 1 1 40%;
  display: flex;
  margin: 20px;
  font-family: "Open Sans", sans-serif; }

.experience-infos {
  flex: 1; }

.experience-title {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px dashed #00cc99;
  padding-bottom: 4px; }

.experience-place {
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  margin-bottom: 10px; }

.experience-details {
  flex: 3;
  margin-left: 25px;
  display: flex;
  flex-direction: column; }

.experience-description {
  text-align: justify;
  line-height: 130%; }
  .experience-description .important {
    color: #00cc99;
    font-family: "Lato", sans-serif; }

#portfolio-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  #portfolio-page .page-title {
    margin-bottom: 25px; }
  #portfolio-page .return {
    position: absolute;
    bottom: 15px;
    font-family: "Open Sans", sans-serif;
    color: #009973;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 1.3em; }

#projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh; }

.project {
  flex: 1 0 25%;
  height: 50%;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0;
  transition: opacity 0.4s ease;
  position: relatve;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.project-full {
  height: 100%;
  cursor: default; }
  .project-full .project-infos {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column; }
    .project-full .project-infos .project-title {
      font-size: 3em; }
  .project-full .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    width: 50%; }

.project-details {
  display: none;
  margin-top: 15px; }

.project-infos {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  opacity: 0; }
  .project-infos:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1; }
  .project-infos .project-title {
    font-family: "Lato", sans-serif;
    font-size: 2em; }

.project-dates {
  font-size: 1.4em; }

.project-enterprise {
  font-size: 1.4em;
  margin-top: 8px; }

.project-description {
  font-size: 1.3em;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px dashed white;
  line-height: 130%;
  text-align: justify; }
  .project-description a {
    color: #00cc99;
    text-decoration: none;
    border-bottom: 1px dashed #00cc99; }

.project-links {
  display: flex;
  position: absolute;
  bottom: 15px; }
  .project-links a {
    margin: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease; }
    .project-links a:hover {
      color: #00cc99; }

#project-todo {
  background-image: url("img/todo.gif"); }

#project-todo3d {
  background-image: url("img/todo3d.gif"); }

#project-trinsitu {
  background-image: url("img/trinsitu.gif"); }

#project-fnac {
  background-image: url("img/fnac.gif"); }

#project-this {
  background-image: url("img/this.gif"); }

#project-wikisearch {
  background-image: url("img/wikisearch.gif"); }

#miscellaneous-page {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #miscellaneous-page .page-title {
    margin-bottom: 35px; }

#fact-container {
  width: 60%;
  display: flex;
  flex-direction: column; }

.fact {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  text-align: justify;
  margin-bottom: 8px;
  padding-bottom: 8px;
  line-height: 130%;
  border-bottom: 2px dashed #00cc99; }
  .fact a {
    color: #00cc99;
    text-decoration: none; }
  .fact:last-child {
    border-bottom: none; }

#contact-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  #contact-page .page-title {
    margin-top: 45px;
    margin-bottom: 15px; }
  #contact-page .contact-hidden {
    display: none; }

.contact-links {
  width: 65%;
  display: flex;
  justify-content: center; }
  .contact-links a {
    cursor: pointer;
    color: #00cc99;
    margin: 10px;
    margin-left: 30px;
    font-size: 4em;
    transition: all 0.25s ease; }
    .contact-links a:hover {
      color: #00e6ac; }

.pdf {
  position: absolute;
  bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em; }
  .pdf a {
    color: #00cc99; }

.contact-form-hidden {
  opacity: 0 !important;
  transition: opacity 0.4s ease; }

#contact-form {
  font-family: "Open Sans", sans-serif;
  width: 65%;
  display: none;
  opacity: 0; }
  #contact-form input {
    border: none;
    font-size: 1.2em;
    border-bottom: 1px solid #00cc99;
    max-width: 400px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: border-color 0.4s ease; }
  #contact-form input[type=submit] {
    background-color: white;
    border: 2px solid #00cc99;
    color: #00cc99;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 5px;
    width: 100px; }
    #contact-form input[type=submit]:hover {
      background-color: #00cc99;
      color: white; }
  #contact-form .row {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    min-width: 400px; }
  #contact-form label {
    font-size: 0.9em;
    margin-bottom: 5px; }
  #contact-form textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #00cc99;
    height: 150px;
    width: 100%;
    transition: border-color 0.4s ease; }
  #contact-form > p {
    color: #00cc99;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.1em;
    padding-bottom: 2px;
    border-bottom: 2px dashed rgba(0, 204, 153, 0);
    transition: border-color 0.4s ease; }
    #contact-form > p:hover {
      border-color: #00cc99; }

#references-page {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #references-page .page-title {
    margin-bottom: 35px; }

.reference {
  display: flex;
  align-items: center;
  margin-bottom: 45px; }
  .reference img {
    max-height: 85px;
    border-radius: 100%; }
  .reference .infos {
    margin-left: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em; }
  .reference .reference-links {
    margin-top: 5px;
    margin-left: 2px; }
    .reference .reference-links a {
      color: #00cc99;
      margin-right: 10px;
      transition: all 0.25s ease; }
      .reference .reference-links a:hover {
        color: #00e6ac; }

/*# sourceMappingURL=main.css.map */
