#contact-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	.page-title {
		margin-top: 45px;
		margin-bottom: 15px;
	}

	.contact-hidden {
		display: none;
	}
}

.contact-links {
	width: 65%;
	display: flex;
	justify-content: center;
	a {
		cursor: pointer;
		color: $color-main;
		margin: 10px;
		margin-left: 30px;
		font-size: 4em;
		transition: all 0.25s ease;
		&:hover {
			color: lighten($color-main, 5);
		}
	}
}

.pdf {
	position: absolute;
	bottom: 15px;
	font-family: $font-content;
	font-size: 1.2em;
	a {
		color: $color-main;
	}
}

.contact-form-hidden {
	opacity: 0 !important;
	transition: opacity 0.4s ease;
}

#contact-form {
	font-family: $font-content;
	width: 65%;
	display: none;
	opacity: 0;
	input {
		border: none;
		font-size: 1.2em;
		border-bottom: 1px solid $color-main;
		max-width: 400px;
		outline: none;

	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    transition: border-color 0.4s ease;
	}

	input[type=submit] {
		background-color: white;
		border: 2px solid $color-main;
		color: $color-main;
		cursor: pointer;
		transition: all 0.4s ease;
		padding: 5px;
		width: 100px;
		&:hover {
			background-color: $color-main;
			color: white;
		}
	}

	.row {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 20px;
		min-width: 400px;
	}

	label {
		font-size: 0.9em;
		margin-bottom: 5px;
	}

	textarea {
		border: none;
	    overflow: auto;
	    outline: none;

	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    resize: none;
	    font-family: $font-content;

	    border: 1px solid $color-main;
	    height: 150px;
	    width: 100%;
	    transition: border-color 0.4s ease;
	}

	> p {
		color: $color-main;
		cursor: pointer;
		margin-top: 10px;
		font-size: 1.1em;
		padding-bottom: 2px;
		border-bottom: 2px dashed $color-main-invisible;
		transition: border-color 0.4s ease;
		&:hover {
			border-color: $color-main;
		}
	}
}