#experiences-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h2 {
		margin-bottom: 45px;
	}
}

#experiences-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.experience {
	flex: 1 1 40%;
	display: flex;
	margin: 20px;
	font-family: $font-content;
}

.experience-infos {
	flex: 1;
}

.experience-title {
	font-family: $font-title;
	font-size: 1.5em;
	margin-bottom: 10px;
	border-bottom: 2px dashed $color-main;
	padding-bottom: 4px;
}

.experience-place {
	font-family: $font-title;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.experience-details {
	flex: 3;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}

.experience-description {
	text-align: justify;
	line-height: 130%;
	.important {
		color: $color-main;
		font-family: $font-title;
	}
}