#formations-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.page-title {
		margin-bottom: 2em;
		margin-top: -3em;
	}
}

#formations-container {
	height: 125px;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	.formation {
		max-width: 100px;
		max-height: 100px;
		min-width: 100px;
		min-height: 100px;
		border-radius: 100%;
		border: 6px solid $color-main;
		flex: 1;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease;
		background-color: $color-white;
		cursor: pointer;
		i {
			color: $color-main;
			transition: inherit;
		}
		&:hover {
			background-color: $color-main;
			i {
				color: $color-white;
			}
		}
	}

	.selected {
		background-color: $color-main;
		i {
			color: $color-white;
		}
	}

	.formation-segment-container {
		z-index: 10;
		max-width: 200px;
		max-height: 200px;
		min-width: 200px;
		min-height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.formation-trail-container {
		z-index: 10;
		@extend .formation-segment-container;
		max-width: 100px;
		max-height: 100px;
		min-width: 100px;
		min-height: 100px;
	}
}

.formation-trail {
	z-index: 10;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-left: 15px;
	background-color: $color-main;
}

.formation-link {
	z-index: 10;
	width: 200px;
	height: 6px;
	background-color: $color-main;
	position: relative;

}

#formation-trail-end {
	.formation-trail {
		margin-left: 0;
		margin-right: 15px;
	}
}

.formation-details-container {
	z-index: 10;
	font-family: $font-content;
	font-size: 1.5em;
	width: 300px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100px;
	opacity: 0;
	left: -100%;;
}

.details-dates {
	font-size: 0.7em;
	margin-top: 5px;
}

.details-texte {
	font-size: 0.8em;
	margin-top: 1em;
	text-align: justify;
}