#main-page {
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $font-content;
	> * {
		flex: 1;
	}
	background-image: url("img/top.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;

	#media-cover {
		width: 100%;
		margin-bottom: 200vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}

	#round-photo {
		opacity: 0;
		z-index: 50001;
		position: absolute;
		top: 25vh;
		img {
			border-radius: 100%;
			width: 175px;
			border: 4px solid $color-white;
		}
	}

	#about {
		display: flex;
		flex-direction: column;
		flex: 2;
		width: 100%;
		background-color: $color-white;
	}

	#nav-top {
		z-index: 50000;
		width: 100%;
		height: 90px;
		display: flex;
		background-color: $color-white;
		transition: all 0.4s ease;
	}


	#nav-placeholder {
		width: 100%;
		height: 90px;
	}

	.nav-top-half {
		font-family: $font-title;
		flex: 1;
		display: flex;
		align-items: center;
		a {
			border: 3px solid $color-main-invisible;
			padding: 7px;
			margin: 15px;
			flex: 1;
			max-width: 175px;
			text-align: center;
			font-size: 1.3em;
			color: $color-black;
			text-decoration: none;
			transition: all 0.25s ease;
			&:hover {
				border-color: $color-main;
			}
		}

		.selected {
			border-color: $color-main;
		}
	}

	#nav-top-right {

	}

	#nav-top-left {
		padding-right: 12vw;
		justify-content: flex-end;
	}

	.title {
		align-self: center;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	.about-text {
		font-size: 1.4em;
		align-self: center;
		width: 50%;
		margin-top: 1em;
		text-align: justify;
	}

	.fixed-media-cover {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: fixed;
	}

}

