#miscellaneous-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.page-title {
		margin-bottom: 35px;
	}
}

#fact-container {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.fact {
	font-family: $font-content;
	font-size: 1.4em;
	text-align: justify;
	margin-bottom: 8px;
	padding-bottom: 8px;
	line-height: 130%;
	border-bottom: 2px dashed $color-main;
	a {
		color: $color-main;
		text-decoration: none;
	}
	&:last-child {
		border-bottom: none;
	}
}