#portfolio-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.page-title {
		margin-bottom: 25px;
	}

	.return {
		position: absolute;
		bottom: 15px;
		font-family: $font-content;
		color: darken($color-main, 10);
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.4s ease;
		font-size: 1.3em;
	}
}

#projects-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 70vh;
}

.project {
	flex: 1 0 25%;
	height: 50%;
	margin: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	opacity: 0;
	transition: opacity 0.4s ease;
	position: relatve;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.project-full {
	height: 100%;
	cursor: default;
	.project-infos {
		opacity: 1;
		background-color: rgba(0,0,0,0.8);
		display: flex;
		flex-direction: column;
		.project-title {
			font-size: 3em;
		}
	}
	.project-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font-content;
		width: 50%;
	}

}

.project-details {
	display: none;
	margin-top: 15px;
}

.project-infos {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transition: all 0.4s ease;
	color: white;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	opacity: 0;
	&:hover{
		background-color: rgba(0,0,0,0.8);
		opacity: 1;
	}
	.project-title {
		font-family: $font-title;
		font-size: 2em;
	}
}

.project-dates {
	font-size: 1.4em;
}

.project-enterprise {
	font-size: 1.4em;
	margin-top: 8px;
}

.project-description {
	font-size: 1.3em;
	margin-top: 15px;
	padding-top: 15px;
	border-top: 2px dashed white;
	line-height: 130%;
	text-align: justify;
	a {
		color: $color-main;
		text-decoration: none;
		border-bottom: 1px dashed $color-main;
	}
}

.project-links {
	display: flex;
	position: absolute;
	bottom: 15px;;
	a {
		margin: 5px;
		color: white;
		text-decoration: none;
		transition: all 0.4s ease;
		&:hover {
			color: $color-main;
		}
	}
}

#project-todo {
	background-image: url("img/todo.gif");
}

#project-todo3d {
	background-image: url("img/todo3d.gif");
}

#project-trinsitu {
	background-image: url("img/trinsitu.gif");
}

#project-fnac {
	background-image: url("img/fnac.gif");
}

#project-this {
	background-image: url("img/this.gif");
}

#project-wikisearch {
	background-image: url("img/wikisearch.gif");
}