#references-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.page-title {
		margin-bottom: 35px;
	}
}

#reference-container {

}

.reference {
	display: flex;
	align-items: center;
	margin-bottom: 45px;
	img {
		max-height: 85px;
		border-radius: 100%;
	}
	.infos {
		margin-left: 25px;
		font-family: $font-content;
		font-size: 1.5em;
	}
	.reference-links {
		margin-top: 5px;
		margin-left: 2px;
		a {
			color: $color-main;
			margin-right: 10px;
			transition: all 0.25s ease;
			&:hover {
				color: lighten($color-main, 5);
			}
		}
	}
}