#skills-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.page-title {
		margin-bottom: 35px;
	}
	.selected {
		color: $color-main;
	}
}

.hidden {
	display: none !important;
}

.skill-section-title {
	cursor: pointer;
	border-bottom: 4px dashed $color-main;
	transition: all 0.35s ease;
	&:hover {
		color: $color-main;
	}
}

#skills-container {
	max-height: 0px;
	height: 60vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.skill-section {
	opacity: 0;
	width: 95%;
	max-width: 95%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	font-size: 1.5em;
}

.skill {
	flex: 1;
	display: flex;
	flex-direction: colum;
	align-items: center;
	justify-content: center;
	border: 4px solid $color-main;
	min-height: 150px;
	max-height: 450px;
	margin: 15px;
	color: $color-main;
	transition: all 0.4s ease;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	i {
		transition: all 0.4s ease;
		position: absolute;
	}
	&:hover {
		background-color: $color-main;
		color: $color-white;
		.noted-skill-bar {
			border-color: $color-white;
		}
		.bar-filling {
			background-color: $color-white;
		}
		.noted-skill-note {
			color: $color-main;
		}
	}
}

.skill.skill-selected {
	&:hover {
		background-color: $color-white;
		color: $color-main;
		.noted-skill-bar {
			border-color: $color-main;
		}
		.bar-filling {
			background-color: $color-main;
		}
		.noted-skill-note {
			color: $color-white;
		}
	}
}

.skill-content {
	opacity: 0;
	transition: all 0.4s ease;
	font-family: $font-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	h4 {
		font-family: $font-title;
		font-size: 1.4em;
		margin-bottom: 10px;
	}
	p {
		text-align: justify;
	}
	ul {
		li {
			margin-top: 10px;
		}
		span {
			display: inline-block;
			width: 100px;
		}
	}
}

.noted-skills-container {
	flex: 1;
	height: 85%;
	max-height: 85%;
	min-height: 85%;
	width: 85%;
	display: flex;
}

.noted-skills-column {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.noted-skills {
	margin-top: 15px;
	min-height: 50px;
}

.noted-skill-bar {
	width: 90%;
	height: 25px;
	border: 3px solid $color-main;
	margin-top: 5px;
	transition: all 0.4s ease;
}

.bar-filling {
	height: 100%;
	background-color: $color-main;
	transition: inherit;
	display: flex;
	align-items: center;
}

.bar-filling-meh {
	width: 25%;
}

.bar-filling-ok {
	width: 50%;
}

.bar-filling-experienced {
	width: 75%;
}

.bar-filling-proficient {
	width: 100%;
}

.noted-skill-note {
	opacity: 0;
	transition: all 0.4s ease;
	font-size: 0.7em;
	color: $color-white;
}