.title {
	font-size: 4em;
	font-family: $font-title;
}

.page-title {
	font-size: 3em;
	font-family: $font-title;
}

.invalid-form {
	border-color: #FF1212 !important;
	transition: border-color 0.4s ease;
}