$color-white: #FFFFFF;
$color-black: #000000;
$color-main: rgba(0, 204, 153, 1);
$color-main-invisible: rgba(0, 204, 153, 0);

$nav-top-height: 90px;

$font-title: 'Lato', sans-serif;
$font-content: 'Open Sans', sans-serif;